/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do corpo */
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #000; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



body.dark {
    background-color: #fffefe;
    color: #fffefe;
}

.trilho{
    width: 60px;
    height: 25px;
    background-color: #4d4d4d;
    border-radius: 25px;
    position: relative;
    cursor: pointer;}


.trilho .indicador{
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius:50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

.trilho .indicador {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}




.trilho.dark{
background-color: #c3c3c3;
}

.trilho.dark .indicador {
    left: 35px;
    background-color: #fff;
}


.trilho-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
}


body.dark h1 {

color: #ffffff;
}

body.dark p {
    color: #000000; /* Cor do texto dos parágrafos */
}



.dark header {
    background: #000000; /* Cor de fundo do cabeçalho */
    color: #fffefe; /* Cor do texto do cabeçalho */
    padding: 30px 0;
    text-align: center;
}

/* Estilos do cabeçalho */
header {
    background: #ffffff; /* Cor de fundo do cabeçalho */
    color: #000000; /* Cor do texto do cabeçalho */
    padding: 30px 0;
    text-align: center;
}




.dark footer {
    text-align: center;
    padding: 10px 0;
    background: #003542; /* Cor de fundo do rodapé */
    color: #ffffff; /* Cor do texto do rodapé */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #003542; /* Cor de fundo do rodapé */
    color: #ffffff; /* Cor do texto do rodapé */
}






/* Estilo base para as logos */

.dark .logo-linguagem {
    transition: transform 0.4s ease-out, filter 0.4s ease-out;
    filter: grayscale(20%);
}

.dark .logo-linguagem:hover {
    transform: translateY(-10px) scale(1.05);
    filter: grayscale(0%) brightness(110%);
}



.logo-linguagem {
    transition: transform 0.4s ease-out, filter 0.4s ease-out;
    filter: grayscale(20%);
}

.logo-linguagem:hover {
    transform: translateY(-10px) scale(1.05);
    filter: grayscale(0%) brightness(110%);
}

.dark nav ul li a  {
    color: #ffffff; /* Cor do texto do link */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Transição suave para a cor */
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza as abas */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000000; /* Cor do texto do link */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Transição suave para a cor */
}

nav ul li a:hover,
nav ul li a:focus {
    color: #165eaa; /* Cor ao passar o mouse */
    text-decoration: underline; /* Sublinha ao passar o mouse */
}

nav ul li a.ativo {
    font-weight: bold; /* Destaque o link ativo */
    color: #007BFF; /* Cor do link ativo */
}







/* Estilos do conteúdo principal */
main {
    flex: 1; /* Faz o main ocupar o espaço restante */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo */
    padding: 20px;
}

/* Estilos das seções */
section {
    max-width: 950px; /* Limita a largura da seção */
    width: 100%; /* Faz a seção ocupar 100% da largura disponível */
    margin: 43px 0;
    background-color: #ffffff; /* Fundo para seções */
    padding: 30px;
    border-radius: 12px; /* Bordas arredondadas */
    opacity: 0; /* Começa invisível */
    transform: translateY(50px); /* Começa deslocada para baixo */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transição suave */
}

.dark section {
    max-width: 950px; /* Limita a largura da seção */
    width: 100%; /* Faz a seção ocupar 100% da largura disponível */
    margin: 43px 0;
    background-color: #6464646c; /* Fundo para seções */
    padding: 30px;
    border-radius: 12px; /* Bordas arredondadas */
    opacity: 0; /* Começa invisível */
    transform: translateY(50px); /* Começa deslocada para baixo */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transição suave */
}

section.visible {
    opacity: 1; /* Torna a seção visível */
    transform: translateY(0); /* Move a seção para a posição original */
}

/* Estilos de texto */


h1 {

    color: #ffffff; /* Azul escuro */
    margin-bottom: 10px;


}
h2 {
    color: #003366; /* Azul escuro */
    margin-bottom: 10px;
}

h3 {
    color: #003366; /* Azul escuro */
}

h4 {
    color: #003542; /* Cor específica para h4 */
}

h5 {
    color: #2d798b; /* Cor específica para h5 */
}

p {
    color: #000000; /* Cor do texto dos parágrafos */
}

/* Estilos de projetos */
.projeto {
    margin-bottom: 18px;
}

/* Estilos de imagens */
img {
    max-width: 100%; /* Faz as imagens se ajustarem ao tamanho do contêiner */
    height: auto; /* Mantém a proporção das imagens */
    margin: 12px 0; /* Espaçamento entre as imagens */
}


/* Estilos de parallax */
.parallax {
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbnV2MGR2Z25tenM0dDYwMmdzYTk2Z2ZjZWd6aTliMXdidWc1NjdlbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/88Fu8MtnSXI6j3ywN8/giphy.gif'); /* Substitua pelo caminho da sua imagem */
    height: 50vh; /* Altura da seção */
    
    background-attachment: fixed; /* Mantém a imagem fixa durante a rolagem */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-size: cover; /* Cobre toda a seção */
    display: flex;
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    color: rgb(255, 255, 255); /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    font-family: Impact 'Arial Narrow Bold';
    line-height: 1.7;
}


.idioma-wrapper {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

#seletor-idioma {
    background-color: transparent;
    border: none;
    padding: 2px 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px; /* Aumenta o espaço entre a bandeira e a seta */
    font-size: 2px;
    transition: background-color 0.3s ease;
}

#seletor-idioma:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#seletor-idioma .seta {
    font-size: 18px;
    color: #000000;
}

.dark #seletor-idioma .seta {
    color: #ffffff;
}

#bandeira-selecionada img {
    width: 25px;
    height: auto;
    border-radius: 3px;
}

.idioma-dropdown {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    background-color: #ffffff00;
    border-radius: 10px;
    padding: 6px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    width: 75px;
}

.idioma-opcao {
    background: transparent;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

.idioma-opcao img {
    width: 20px;
    height: auto;
    border-radius: 2px;
}

.idioma-opcao:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#seletor-idioma.active + .idioma-dropdown {
    display: none;
}
